:root {
    --background-color: rgb(245, 245, 245); /*whitesmoke*/
}
html {
    min-height: 100%;
}
body {
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: rgb(30, 30, 30);
    font-size: 1em;

}
#content {
    width: 100%;
    height: 100%;
    display: flex;
}

.divider {
    height: 1px;
    margin: 1em 0 2em 0;
    background-color: var(--bs-gray-dark);
}

.category-container {
    height: 100%;
    width: 30%;
    background-color: rgb(245 245 245);
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
}

.categories {
    display: flex;
    flex-flow: column nowrap;
}

.sub-head {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: -1em;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--bs-gray-dark);
}

.sub-heading-edit {
    /*border: 1px solid var(--bs-gray-dark);*/
    background-color: var(--bs-gray-dark);
    border-radius: .3em;
    padding: .6em .6em;
    margin-bottom: 1em;
}
.form-control.new {
    margin-bottom: .6em;
}

.form-btns.new {
    margin-top: 1.5em;
}

#add-project-btn {
    align-self: flex-end;
}

.item {
    margin-bottom: 1em;
    cursor: pointer;
    padding: .5em;
}

.item:hover {
    box-shadow:0px 0px 0px 1px rgb(52 58 64) inset;
    /*border: 1px solid rgb(52 58 64);
    background-color: rgb(52 58 64);
    color: white;*/
    border-radius: .3em;
    transition: .2s;
    transform: translateX(3px);
}

.item.select {
    background-color: rgb(52 58 64);
    border-radius: .3em;
    color: white;
}
.tasks-container {
    height: 100%;
    width: 70%;
    background-color: rgb(235 235 235);
    padding: 1em;
}

.task-heading {
    display: flex;
    flex-flow: row nowrap;
}

.project-info {
    width: 100%;
}
.task {
    background-color: var(--background-color);
    padding: 1em;
    border-radius: .4em;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.todo {
    display: flex;
    border: 1px solid rgb(219, 219, 219);
    border-radius: .3em;
    margin: 1em;
    padding: 0 .7em;
    align-items: center;
}

.todo:hover {
    transition: .2s;
    transform: translateX(3px);
}

.todo-title {
    margin: 1em 0;
    flex-grow: 1;
}

.todo-date {
    margin: 0 0 0 2em;
    color: grey;
    white-space: nowrap;
}

.todo-priority {
    margin: 0 0 0 2em;
}

.low {
    color: grey;
}

.med {
    color: goldenrod;
}

.high {
    color: crimson;
}

.checkbox {
    /*width: 1.5em;
    height: 1.5em;*/
    border: 1px solid var(--bs-dark);
    border-radius: .2em;
    margin: 0 .7em 0 0;
    padding: .5em;
}

.checked {
    background-color: var(--bs-gray);
    color: pink;
    background-repeat: no-repeat;
    /*(be sure to escape any characters, such as # to %23 when specifying hex color values)*/
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/></svg>");
}

.complete {
    text-decoration: line-through;
    color: var(--bs-gray);
}

/* -- PROJECT EDIT FORM -- */

.edit {
    flex-flow: column nowrap;
}

#project-title {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
    background: none;
    margin-bottom: .5rem;
}

#project-description {
    color: rgb(30, 30, 30);
    font-size: 1em;
    background: none;
    margin-bottom: 1rem;
}


/* -- TASK SUBMIT FORM -- */
.task-submit {
    padding: 1em;

    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 7px 10px -8px #ddd, 0px -7px 10px -8px #ddd;
}




.form-features {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.form-btn-container {
    display: flex;
    justify-content: space-between;
}
.form-btns {
    display: flex;
    justify-content: flex-end;
}

.submit-btns {
    background-color: darkgray;
    border-radius: 50%;
    padding: .3em;
}

.feat {
    margin-bottom: 1rem;
}

.center-obj{
    margin-right: 1rem;
}
.grow {
    flex-grow: 1;
}

/* -- CUSTOM BOOTSTRAP -- */

.form-check-input {
    width: 1.2em;
    height: 1.2em;
    margin: 0 .7em 0 0;
    padding: .5em;
    border-color: #212529;
    background-color: #f5f5f5;
    cursor: pointer;
}
.form-check-input:checked {
    border-color: #212529;
    background-color: var(--bs-gray);
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
}

.no-border {
    border-style: none;
}

.btn-outline-dark {
    color: #212529;
    border-color: #212529;
    align-self: flex-start;
}

#add-task-btn {
    align-self: flex-end;
}

/* -- HOME PAGE -- */
